/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  //LOGO
  --logo-color: rgb(70, 137, 209);
  --logo-font-family: monospace;

  //DEFUALT COLOR
  --default-bg-color-page: rgb(255, 255, 255);
  --default-bg-color-page-b: rgb(137, 161, 187);
  --default-bg-color-header: rgb(255, 255, 255);
  --default-bg-color-footer-a: rgb(45, 53, 61);
  --default-bg-color-footer-b: rgb(81, 96, 110);
  --default-bg-color-search:rgb(236, 236, 236);
  --default-bg-color-search-btn-hover:rgb(187, 185, 185);
  --default-bg-color-search-btn-focus:rgb(0, 0, 0);
  --default-border-color-a: rgba(34, 34, 34, 0.15);
  --default-border-color-b: rgba(34, 34, 34, 0.15);
  --default-font-color-page:rgb(0, 0, 0);
  --default-font-color-footer:rgb(0, 0, 0);
  --default-font-color-nav-options:rgb(70, 70, 70);
  --default-font-color-categories:rgb(34, 34, 34);
  //DARK MODE COLOR
  --dm-bg-color-page: rgba(73, 73, 73);
  --dm-bg-color-page-b: rgb(107, 107, 107);
  --dm-bg-color-header: rgba(73, 73, 73);
  --dm-bg-color-footer-a: rgb(137, 161, 187);
  --dm-bg-color-footer-b: rgb(137, 161, 187);
  --dm-bg-color-search: rgb(26, 26, 26);
  --dm-bg-color-search-btn-hover:rgb(49, 49, 49);
  --dm-bg-color-search-btn-focus:rgb(0, 0, 0);
  --dm-border-color-a: white;
  --dm-border-color-b: white;
  --dm-font-color-page:white;
  --dm-font-color-footer:white;
  --dm-font-color-nav-options:white;
  --dm-font-color-categories:white;

  //APP STYLES
  --app-bg-color-page: var(--default-bg-color-page);
  --app-bg-color-page-b: var(--default-bg-color-page-b);
  --app-bg-color-header: var(--default-bg-color-header);
  --app-bg-color-footer-a: var(--default-bg-color-footer-a);
  --app-bg-color-footer-b: var(--default-bg-color-footer-b);
  --app-bg-color-search: var(--default-bg-color-search);
  --app-bg-color-search-btn-hover:var(--default-bg-color-search-btn-hover);
  --app-bg-color-search-btn-focus:var(--default-bg-color-search-btn-focus);
  --app-border-color-a: var(--default-border-color-a);
  --app-border-color-b: var(--default-border-color-b);
  --app-font-color-page: var(--default-font-color-page);
  --app-font-color-footer: var(--default-font-color-footer);
  --app-font-color-nav-options: var(--default-font-color-nav-options);
  --app-font-color-categories: var(--default-font-color-categories);
  //
  --app-font-color-main: rgb(137, 161, 187);
  --app-font-color-header: rgb(137, 161, 187);
  --app-font-color-footer: rgb(137, 161, 187);
  --app-font-color-container: rgb(137, 161, 187);
  --app-font-family-main: serif;
  --app-font-family-header: serif;
  --app-font-family-footer: serif;
  --app-font-family-container: serif;
  //
  --footer-primary-bg-color: rgb(106, 128, 152);
  --footer-secondary-bg-color: rgb(196, 173, 173);
  --footer-bg-color: rgb(50, 60, 72);
  --footer-text-color: white;
  --footer-container-text-color: white;
  --main-content-width: 1400px;
  --main-content-font-family: fantasy;
  --navbar-text-color: #222222;
  --navbar-border-color: rgba(34, 34, 34, 0.15);

}

.popular-right-now-div {
  display: flex;
  justify-content: center;
}
.popular-right-now {
  font-weight: bold;
}
.static-width {
  width: 1380px;
}
.app-switch-body-container {
  display: flex;
  justify-content: center;
}

ul {
  padding-inline-start: 0px;
  margin: 0px;
}

a:visited{
    color: inherit;
}

.clickable:hover{
    cursor: pointer;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}
.align-items-flex-end {
  align-items: flex-end;
}
.align-self-center {
  align-self: center;
}
.align-self-flex-end {
  align-self: flex-end;
}

.width-max-content {
  width: max-content;
}

a, .no-text-dec{
    color: inherit;
    text-decoration-line: inherit;
}
a {
    cursor: pointer;
}

//
body {
  //font-family: 'Roboto', 'Hepta', sans-serif;

  header{
    background-color: var(--app-bg-color-header);
    .navbar-category{
      color: var(--app-font-color-categories);
    }
  }
  footer{
    background-color: var(--app-bg-color-footer-a);
    color: white;
  }
}
body, .bg-color-page-a{
  background-color: var(--app-bg-color-page);
  color: var(--app-font-color-page);
}
.bg-color-page-b{
  background-color: var(--app-bg-color-page-b);
  color: var(--app-font-color-page);
}
button {
  font-family: inherit;
  font-size: inherit;
}
.default-font-color{
  color: var(--app-font-color-page);
}

.text-with-carot-right {
  display: flex;
  flex-direction: row;
  span {
    padding-right: 6px;
    width: max-content;
  }
  img {
    align-self: baseline;
  }
}

.contained-img{
  width: 100%;
  height: 100%;
}

.button-on {
  background-color: rgb(184, 252, 184);
}
.button-off {
  background-color: rgb(199, 199, 199);
}

.textarea{
    color: #333;
    background-color: #FFF;
    font-size: 12px;
    margin: 0 0 0.2em 0;
    padding: 6px;
    width: 278px;
    border: 1px solid #959595;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;  
}