/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --primary-bg-color: rgb(187, 42, 42);
  --secondary-bg-color: black;
  --footer-primary-bg-color: rgb(131, 30, 30);
  --footer-secondary-bg-color: rgb(196, 173, 173);
  --footer-bg-color: rgb(82, 18, 18);
  --main-content-width: 1400px;
  --main-content-font-family: fantasy;
  --navbar-text-color: #222222;
}

.popular-right-now-div {
  display: flex;
  justify-content: center;
}
.popular-right-now {
  font-weight: bold;
}
.static-width {
  width: 1400px;
}
.app-switch-body-container {
  display: flex;
  justify-content: center;
}
ul {
  padding-inline-start: 0px;
  margin: 0px;
}
a:visited{
    color: inherit;
}