
.category-div {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.category-nav {
  float: right;
  font-weight: bold;  
}
.category-link {
  display: inline-block;
}
#category-show {
    font-weight: medium;
    font-family: "Hepta";
    font-size: 15px;

    .category-shop-name {
        color: gray;
    }

    ul {
        li {
            img {
                opacity: 1;
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
            }
        }
    }
    li:hover img {
        opacity: 0.5;
    }
}