
.app-footer-bar {
  background-color: var(--app-bg-color-footer-b);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app-footer-container {
  background-color: transparent;
  height: max-content;
  width: 100%;
  // display: flex;
  // justify-content: center;

  .app-footer-content{
    height: 100%;
    // width: 1400px;
    color: cornsilk;
  }
}
.app-footer-container ul {
  list-style: none;
}



.app-footer-subscribe-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: cornsilk;
  text-align: center;

  h3 {
    font-size: 16px;
  }
}
.app-footer-content {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 16px;
  }
}
.subscribe {
    display: flex;
}
.subscribe-input {
  width: 100%;
  height: 20px;
  padding: 8px;
}
.subscribe-container {
    border-radius: 96px;
    border: 1px solid #eee;
    display: flex;
    height: 48px;
    min-width: fit-content;
    margin: 10px 0; 
  
    .subscribe-input {
        box-shadow: none; 
        border-right: 0;
        min-width: 400px;
        width: 740px;
        max-width: 740px;
        height: auto; 
        border-top-left-radius: 96px; 
        border-bottom-left-radius: 96px; 
        font-size: 18px; 
        // background-color: rgba(239, 239, 239, 1);
        box-shadow: none;
        background: transparent;
        transition: border 250ms ease-out, background 250ms ease-out;
        border-color: rgba(34, 34, 34, 0.15);
        // color: #222222;
        color: white;

        &:focus {
            background-color: black;
            color: #bb2a2a;
        }
    }

    .subscribe-input::placeholder {
      font-family: fantasy;
      color: white;
      opacity: 1;
      &:focus-visible {
          color: #bb2a2a;
      }
    }
    .subscribe-input :focus ::placeholder {
      color: #bb2a2a;
    }
    .subscribe-button{   
        box-shadow: none;
        cursor: pointer;
        outline: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 96px;
        border-bottom-right-radius: 96px;
        height: 48px;
        transition: all 200ms ease-out;
        border-left: 0; 
        border-color: rgba(34, 34, 34, 0.15);
        font-size: 18px;
        font-weight: bold;

        &:hover{
            background-color: black;
            color: #bb2a2a;
        }
    }
    .subscribe-container, .subscribe-input, .subscribe-button {
        background-color: var(--app-bg-color-footer);
    } 
}

.app-footer-column-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;  
  flex-wrap: wrap;
  color: white;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
.app-footer-column {
  display: flex;
  flex-direction: column;
  min-width: 225px;

  h3 {
    font-size: 16px;
    padding-bottom: 0px;
  }
  div {
    display: flex;
    justify-content: center; 
      flex-direction: column;
   
  }
  ul {
    margin-top: 0px;
  }
  li {
    padding-bottom: 7px;
  }
}

.app-social-media-content {
  display: flex;
  flex-direction: column;


  .app-social-media-download-button {
    background-color: var(--app-bg-color-footer);
    border: 2px solid white;
    border-radius: 40px;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
  }

  .app-social-media-tags {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-between;    

    button {
      background-color: var(--app-bg-color-footer);
      border: 2px solid white;
      border-radius: 40px;
      padding: 8px;
      font-size: 14px;
      font-weight: bold;

      &:hover{
          background-color: black;
          color: #bb2a2a;
      }
    }
  }
}

footer {
  background-color: var(--app-bg-color-footer-a);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -10px;
  height: max-content;
  align-content: center;
  flex-flow: wrap;
  color: white;
  font-size: 13px;
  button {
    padding: 10px;
    border: none;
    color: white;
    border-radius: 40px;
    background-color: var(--app-bg-color-footer-a);
    font-size: 13px;
    &:hover{
        background-color:var(--app-bg-color-footer-a);
    }    
  }
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
  margin-top: 25px;
}
.footer-links-container {
  width: 360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-footer-ridge-top {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 36px;
    background: -webkit-linear-gradient(#2B3A48 0%, transparent 0%), -webkit-linear-gradient(135deg, var(--app-bg-color-footer-b) 33.33%, transparent 33.33%) 0 0%, var(--app-bg-color-footer-b) -webkit-linear-gradient(45deg, var(--app-bg-color-footer-b) 33.33%, var(--app-bg-color-page) 33.33%) 0 0%;
    background-repeat: repeat-x;
    background-size: 0px 100%, 9px 27px, 9px 27px; 
}

.footer-span-middle {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  margin-left: 10px;
  border-right: 1px solid white;
  border-left: 1px solid white;
}