
header {
  display: flex;
  justify-content: center;  
  width: 100%;
  border-bottom: 1px solid rgba(34, 34, 34, 0.15);
  margin-top: -19px;
}
.logo-link {
  color: crimson;
}
.logo-main {
  font-weight: bolder;
  font-family: fantasy;
  color: crimson;
  font-size: 44px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}
.logo-nav {
  padding-right: 55px;
}