
header {
    width: 100%;
    margin-top: -2px;
    border-bottom: 2.2px solid var(--navbar-border-color);
    display: flex;
    justify-content: center;  

    a {
        text-decoration: none;
        text-decoration-line: none;
        text-decoration-color: none;
        text-decoration-style: none;        
    }
    p {
        padding: 0px;
        margin: 0px;
    }  
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding: 0px;
}
// .navbar .category-ul {
//     display: flex;
//     justify-content: center;
//     justify-content: space-between;
//     font-size: 14px;
//     color: gray;
//     width: 100%;
//     margin-top: 0px;
//     margin-bottom: 12px;
// }
.navbar-top-container, .navbar-bottom-container{
    margin: 0px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}
.navbar-bottom-container{
    margin-bottom: 10px;
    margin-top: 10px;
}
.navbar-category {
    color: gray;
    font-size: 14px;
    //text-transform: uppercase;
    // text-decoration: none;
    // letter-spacing: 0.15em;
}

.navbar-category, .gift-container {
    position: relative;

    :after{
        content: "";
        background: none repeat scroll 0 0 transparent;
        bottom: -12px;
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: black;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    :hover:after{
        width: 100%; 
        left: 0; 
    }
}
// @media screen and (max-height: 300px) {
// 	ul {
// 		margin-top: 40px;
// 	}
// }


.logged-out-navbar-ul {
    height: 60.978px;
    display: flex;
    align-content: center;
}
.logged-out-navbar-ul > li {
    list-style: none;
    display: inline-block;
    padding-right: 15px;
    font-size: 14px;
}
.logged-out-navbar-ul .logo-nav {
    margin-left: 10px;
    padding-right: 55px;
}
.logged-out-navbar-ul .sell-on-betzy {
    margin-left: 30px;
    text-align: center;
    padding-top: 35px;
    height: 30px;
    padding-bottom: 50px;
    cursor: pointer;
}
.login-signup > span > a {
    text-decoration: none;
    color: inherit;
}
.login-signup > span {
    margin-left: 20px;
}
.login a {
    border: 1px solid gray;
    border-radius: 3px;
    padding: 7px 7px;
}
.login a:hover{
    background-color:rgb(107, 107, 107);
    color: white;
}

.logo-main {
  font-weight: bolder;
  font-family: fantasy;
  color: var(--logo-color);
  font-size: 44px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  text-decoration-line: none;
}
.logo-link {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: none;
  text-decoration-style: none;
  color: inherit;
}

.logo-nav {
  padding-right: 15px;
  position: relative;
  cursor: pointer;
}
#logo {
    // background-image: image-url("logo.png");
    width: 116px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: -13px;
}


.category-ul > li {
    list-style: none;
    padding-right: 50px;
}

.category-ul > li > a {
    text-decoration: none;
    color: var(--navbar-text-color);
}


.notification-nav {
    // position: relative;
    // padding-right: 25px;
    // border-right: 1px solid rgba(34, 34, 34, 0.15);
    // height: 40px;
    // padding-top: 25px;
    // margin-left: 30px;
    // margin-top: 15px;

    position: relative;
    padding-right: 17px;
    border-right: 1px solid rgba(34, 34, 34, 0.15);
    height: 40px;
    padding-top: 18px;
    margin-left: 15px;
    margin-top: 15px;

}

.notification-nav,
  .shop-nav,
    .cart-nav {
    color: var(--navbar-text-color);
}

.logged-bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .sell-link:hover, .register:hover {
        text-decoration-line: underline;
    }
}

.cart-container{
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--navbar-border-color);
    padding-left: 16px;
    margin-bottom: auto;
    margin-top: 18px;
    p {
        color: black;
    }
    :hover{
        color: black;
    }
}

.navbar-cart {
    color: grey;
    height: 20px;
    align-self: center;
    font-size: 18px;
}

.gift-container{
    display: flex;
    flex-direction: row;
    p {
        padding-left: 5px;
    }
}

