header {
  /* background: whitesmoke; */
}

.app {
    margin: auto;
}
.logo-main {
  font-weight: bolder;
  font-family: fantasy;
  color: crimson;
  font-size: 44px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.main-header {
  display: flex;
  padding-top: 0px;
  text-decoration: none;  
  flex-direction: column;
  border-bottom: 1px solid black;
  height: fit-content;
}
.main-header-div {
  display: flex;
  justify-content: space-between;
}
.page-column {
  margin: auto;
  min-width: 600px;
  max-width: 1600px;
  width: 1400px;
}

ul {
  list-style: none;
  padding: 0;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

header ul li {
  float: left;
  margin-right: 25px;
}

.cart-div {
  border-left: 1px solid lightgray;
}

.cart-icon {
  display: flex;
  justify-content: left;
  padding: 10px 0;
	margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}