
.homepage-div{
    width: 1400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 1px black;
}

.homepage-child {
    height: 300px;
    padding: 10px;
    margin: 10px;
    border: 1px solid lightgray;
}

.homepage-text-heading {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.homepage-text {
    font-size: 27px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homepage-welcome {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    margin: 10px;
    /* border: 1px solid lightgray;     */
}
.homepage-welcome {
    padding-left: 0px;
}

.homepage-under-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.homepage-under-content-div {
    margin: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;

}
.homepage-under-content-header {
    padding-bottom: 0px;
    font-size: 20px;
}
.homepage-under-content-paragraph {
    margin-top: 0px;
    font-size: 17px;
}
.homepage-under-content-header, .homepage-under-content-paragraph {
    display: flex;
    justify-content: center;
    text-align: center;
}

.homepage-child {
    background-color: rgb(240, 239, 237);
    color:lightgrey;
    display: flex;
    justify-content: center;
}

.Content-parent-div {
    height: fit-content;
}


.Center-parent-div{
    height: fit-content;
}

.Footer-parent-div{
    height: fit-content;
}
