
//  @import "font-awesome"; 
// :root {
//   --primary-bg-color: rgb(187, 42, 42);
//   --secondary-bg-color: black;
//   --main-content-width: 1400px;
//   --main-content-font-family: fantasy;
// }

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage-banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage-banner-container > h1 {
    font-family: "Hepta";
    font-weight: normal;
}
.homepage-banner-container > div.homepage-banner {
    background-color: var(--primary-bg-color);
    height: 280.4px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.homepage-banner-container > div.homepage-banner > h1 {
    font-weight: normal;
    font-family: fantasy;
    margin-right: 587px;
    font-size: 50px;
    width: 569px;
}
.homepage-banner-container > div.homepage-banner > button {
    background: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 12px 17px;
    margin-right: 970px;
    margin-bottom: 20px;
}
.homepage-banner-container > div.middle-banner {
    width: 100%;
}
.homepage-banner-container > div.middle-banner > ul.middle-banner-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}
.homepage-banner-container > div.middle-banner > ul.middle-banner-list > li {
    font-weight: normal;
    font-family: "Hepta";
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
}
.homepage-banner-container > div.middle-banner > ul.middle-banner-list > li > h3 {
    font-weight: normal;
    font-family: "Hepta";
    margin-bottom: 0;
}


.wob-container {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: var(--primary-bg-color);

    .wob-content {
        display: flex;
        flex-direction: column;
    }
    .wob-content-column-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}
.wob-head-container {
    display: flex;
    justify-content: center;
    padding-bottom: 26px;

    .wob-head {
        display: flex;
        flex-direction: column;
    }    
}
.wob-help-container {
    display: flex;
    justify-content: center;
}
.wob-help {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    font-size: 16px;
    button {
        width: fit-content;
        padding: 12px;
        border: 2px solid black;
        border-radius: 40px;
        align-self: center;
        font-weight: bold;
        font-size: 16px;
        background-color: var(--primary-bg-color);
    }
}

.wob-column {
    display: flex;
    flex-direction: column;
    h2 {
        text-align: center;
    }
    p{
        text-align: center;
    }
}