.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
}

.login-form-box {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 400px;
  height: 750px;
  padding: 15px;
  align-items: center;
}

.login-form-box label {
  font-weight: bold;
}

.credential-submit {
  align-self: center;
  color: black;
  background-color: rgb(6, 7, 6);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}