
.search-div {
  /* border-radius: 50%; */

}
.search-form {
  color: white;
  position: relative;
  width: 900px;
  font-size: 25px;
  height: 36px;
  border-radius: 40%;
}
.search-form ul{
	display: flex;
	padding: 0px;
}
.search-submit {
  outline: none;
  position: relative;

}
.search-submit:focus {
  outline: none;
}
.search-submit:hover {
  cursor: pointer;
}