

// .search {
//     display: flex;
// }
// .search-input {
//   width: 100%;
//   height: 20px;
//   padding: 8px;
// }
// .search-container {
//     border-radius: 96px;
//     border: 1px solid #eee;
//     display: flex;
//     // flex-grow: 1;
//     height: 48px;
//     min-width: fit-content;
//     // width: 809px; 
//     margin: 10px 0; 
  
//     .search-input {
//         box-shadow: none; 
//         border-right: 0;
//         min-width: 400px;
//         width: 740px;
//         max-width: 740px;
//         height: auto; 
//         border-top-left-radius: 96px; 
//         border-bottom-left-radius: 96px; 
//         font-size: 23px; 
//         // background-color: rgba(239, 239, 239, 1);
//         box-shadow: none;
//         background: transparent;
//         transition: border 250ms ease-out, background 250ms ease-out;
//         border-color: rgba(34, 34, 34, 0.15);
//         // color: #222222;
//         color: white;

//         &:focus {
//             // background-color: #ffffff; 
//             // background-color: black;
//             // color: white;
//             background-color: black;
//             color: #bb2a2a;
//         }
//     }

//     .search-input::placeholder {
//     //   font-family: fantasy;
//       color: white;
//       opacity: 1;
//       &:focus-visible {
//           color: #bb2a2a;
//       }
//     }
//     .search-input :focus ::placeholder {
//       color: #bb2a2a;
//     }
//     .search-button{   
//         box-shadow: none;
//         cursor: pointer;
//         outline: none;
//         border-top-left-radius: 0;
//         border-bottom-left-radius: 0;
//         border-top-right-radius: 96px;
//         border-bottom-right-radius: 96px;
//         height: 48px;
//         width: 61px; 
//         transition: all 200ms ease-out;
//         border-left: 0; 
//         border-color: rgba(34, 34, 34, 0.15);
        
//         &:hover{
//             background-color: black;
//             color: #bb2a2a;
//             // color: white;
//         }
//     }
//     .search-container, .search-input, .search-button {
//         background-color: var(--app-bg-color-search);
//     } 
// }


.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
    position: static;
    display: flex;
    flex-grow: 1;
}
.flexsearch--form {
	overflow: hidden;
    position: relative;
    display: flex;
    flex-grow: 1;
}
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
    overflow: hidden;
    flex-grow: 1;
}
.flexsearch--input {
  width: 100%;
}
.flexsearch {
    display: flex;
    flex-grow: 1;
    align-self: center;
}
.flexsearch--input {
    background-color: var(--app-bg-color-search);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-appearance: none;
    -moz-appearance: none;    
    box-sizing: content-box;
    height: 48px;
    padding: 0 46px 0 10px;
    border-radius: 35px;
    border: 1px solid #888;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
}
.flexsearch--submit {
    position: absolute;
	display: block;
	right: 0;
    top: 0;
    width: 60px;
    height: 50px;
    padding: 0;
    outline: none;
    border: none;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;       
	background: transparent;
    color: var(--app-font-color-page);
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    line-height: 60px;
    // margin-right: 9px;
}
.flexsearch--input:focus {
    outline: none;
    border-color: #333;
    background-color: white;
}

.flexsearch--input:focus.flexsearch--submit {
 	// color: #333; 
}
.flexsearch--submit:hover {
    background-color: var(--app-bg-color-search-btn-hover);
    // color: #333;
    cursor: pointer;
}
.flexsearch--input:focus + #search-btn {
    background-color: var(--app-bg-color-search-btn-focus);
    color: white;
}
::-webkit-input-placeholder {
	color: #888;  
}
input:-moz-placeholder {
    color: #888
}
