// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile-show {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 15px;
}
.user-profile-info {
  min-width: 900px;
  max-width: fit-content;
  justify-content: space-between;
}
.user-profile-pic-show-container {
  height: max-content;
  width: max-content;
  margin-right: -150px;

  img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: -10px;
  }
  button {
    margin-left: -20px;
    font-size: 8px;
    padding: 10px;
    // height: max-content;
    width: max-content;
    border-radius: 100%;
    border: 1px solid grey;
  }
}
.user-profile-show-edit-container {
  width: max-content;
  margin: 0px;
  h3{
    font-size: 20px;
  }
  h3, .flex-row{
    margin: 0px;
    padding-bottom: 6px;
    width: max-content;
  }
  .flex-row p{
    margin: 0px;
    padding-right: 10px;
  }
  .edit-button {
    border: 1px solid grey;
    border-radius: 2px;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px; 

    a{
      text-decoration: none;
      text-decoration-line: none;
      text-decoration-color: none;
      text-decoration-style: none;         
    }

    p{
      padding-left: 10px;
      padding-right: 0px;
    }

  }
  .edit-button:hover{
    background-color: rgb(184, 184, 184);
  }

}
.user-profile-about-container {
  width: max-content;
  margin: 0px;

  h3{
    font-size: 14px;
  }
  h3, .flex-row{
    margin: 0px;
    // padding-bottom: 6px;
    width: max-content;
  }
}
.user-profile-visit-shop-container {
  align-items: center;

  img{
      width: 70px;
      height: 70px;
      background-size: contain;
      background-repeat: no-repeat;
      padding-right: 5px;
  }

  .flex-row .user-profile-visit-shop-wrapper{
    display: flex;
    flex-direction: column;
    padding-right: 5px;

    span{
      width: max-content;
    }
    span:hover{
      text-decoration-line: underline;
    }
    .user-profile-visit-shop-caret{
      font-size: 22px;
    }
  }
}
.profile-shop-name {
  font-size: 12px;
}
.visit-shop-wrapper{
  margin: 0px;
  span{
    align-self: center;
    padding-right: 5px;
  }
}

.favorite-lists-navbar {
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.favorite-lists-navbar > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}
.favorite-lists-navbar > ul > li {
    margin-right: 50px;
    
}
.favorite-lists-navbar > ul > li > a {
    text-decoration: none;
    color: gray;
}