
.loading-fullpage-background {
  background: var(--app-bg-color-page);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 12;
}
.loading-fullpage-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    .loading-text {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: var(--app-font-color-page);
    }
}

.loading-container {
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
    padding-top: 50px;
}
.loading-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    text-align: center;

    .loading-text {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: var(--app-font-color-page);
    }
}
.loading {
  border: 16px solid #dddddd;
  border-top: 16px solid var(--logo-color);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.img-wrapper {
    padding: 0px;
    margin: 0px;
}
.img-product {
    min-width: 100px;
    min-height: 100px;    
}
.img-product-cart{
    max-width: 140px;
    max-height: 140px;
}
.img-product-index{
    max-width: 180px;
    max-height: 180px;
}
.img-product-show{
    max-width: 500px;
    max-height: 500px;
}
.item-quantity-wrapper {
    height: fit-content;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    align-items: center;

    span{
        padding-right: 10px;
        font-size: 18px;
    }
}

.img-icon {
    min-width: 35px;
    min-height: 35px;   
}
.img-icon-small {
    width: 50px;
    height: 50px;
}